In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data/AMAZON_FASHION.csv', encoding = 'CP949')

In [ ]:
df.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3.0,NaN,NaN
2,4,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883636 entries, 0 to 883635
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         883636 non-null  int64
 1   verified        883636 non-null  bool
 2   reviewTime      883636 non-null  object
 3   reviewerID      883636 non-null  object
 4   asin            883636 non-null  object
 5   reviewerName    883508 non-null  object
 6   reviewText      882402 non-null  object
 7   summary         883099 non-null  object
 8   unixReviewTime  883636 non-null  int64
 9   vote            79900 non-null   float64
 10  style           304569 non-null  object
 11  image           28807 non-null   object
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 75.0+ MB

# 전처리 1 
### 불필요한 컬럼 제거 및 null 제거거

In [ ]:
drop = ['asin', 'reviewerName', 'summary', 'unixReviewTime', 'vote', 'style', 'image']

In [ ]:
df = df.drop(drop, axis = 1)
df.head()

,overall,verified,reviewTime,reviewerID,reviewText
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,Exactly what I needed.
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,"I agree with the other review, the opening is ..."
2,4,False,"08 25, 2014",A2MWC41EW7XL15,Love these... I am going to order another pack...
3,2,True,"08 24, 2014",A2UH2QQ275NV45,too tiny an opening
4,3,False,"07 27, 2014",A89F3LQADZBS5,Okay

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883636 entries, 0 to 883635
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   overall     883636 non-null  int64
 1   verified    883636 non-null  bool
 2   reviewTime  883636 non-null  object
 3   reviewerID  883636 non-null  object
 4   reviewText  882402 non-null  object
dtypes: bool(1), int64(1), object(3)
memory usage: 27.8+ MB

In [ ]:
df.isnull().sum()

overall          0
verified         0
reviewTime       0
reviewerID       0
reviewText    1234
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum()

overall       0
verified      0
reviewTime    0
reviewerID    0
reviewText    0
dtype: int64

In [ ]:
df.shape

(882402, 5)

In [ ]:
# eda 데이터
df.to_csv('/content/drive/MyDrive/data/amazon_fashion_eda.csv', index = False)

# 전처리2
### verified = True인 것과 2010년 이후 데이터만 사용용

In [ ]:
df2 = df[df.verified == True]
df2.head()

,overall,verified,reviewTime,reviewerID,reviewText
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,Exactly what I needed.
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,"I agree with the other review, the opening is ..."
3,2,True,"08 24, 2014",A2UH2QQ275NV45,too tiny an opening
5,5,True,"07 19, 2014",A29HLOUW0NS0EH,Exactly what I wanted.
6,4,True,"05 31, 2014",A7QS961ROI6E0,These little plastic backs work great. No mor...

In [ ]:
df2.verified.unique()

array([ True])

In [ ]:
df2.shape

(827526, 5)

In [ ]:
df2[["date", "year"]]= df2["reviewTime"].str.split(",", expand = True)

<ipython-input-187-86945ab3f110>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[["date", "year"]]= df2["reviewTime"].str.split(",", expand = True)
<ipython-input-187-86945ab3f110>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[["date", "year"]]= df2["reviewTime"].str.split(",", expand = True)

In [ ]:
df2.head()

,overall,verified,reviewTime,reviewerID,reviewText,date,year
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,Exactly what I needed.,10 20,2014
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,"I agree with the other review, the opening is ...",09 28,2014
3,2,True,"08 24, 2014",A2UH2QQ275NV45,too tiny an opening,08 24,2014
5,5,True,"07 19, 2014",A29HLOUW0NS0EH,Exactly what I wanted.,07 19,2014
6,4,True,"05 31, 2014",A7QS961ROI6E0,These little plastic backs work great. No mor...,05 31,2014

In [ ]:
df2.year = df2.year.astype('int')

<ipython-input-189-cf5a254427d2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.year = df2.year.astype('int')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 827526 entries, 0 to 883635
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   overall     827526 non-null  int64
 1   verified    827526 non-null  bool
 2   reviewTime  827526 non-null  object
 3   reviewerID  827526 non-null  object
 4   reviewText  827526 non-null  object
 5   date        827526 non-null  object
 6   year        827526 non-null  int64
dtypes: bool(1), int64(2), object(4)
memory usage: 45.0+ MB

In [ ]:
df3 = df2[df2.year >= 2010]

In [ ]:
df3.head()

,overall,verified,reviewTime,reviewerID,reviewText,date,year
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,Exactly what I needed.,10 20,2014
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,"I agree with the other review, the opening is ...",09 28,2014
3,2,True,"08 24, 2014",A2UH2QQ275NV45,too tiny an opening,08 24,2014
5,5,True,"07 19, 2014",A29HLOUW0NS0EH,Exactly what I wanted.,07 19,2014
6,4,True,"05 31, 2014",A7QS961ROI6E0,These little plastic backs work great. No mor...,05 31,2014

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 824625 entries, 0 to 883635
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   overall     824625 non-null  int64
 1   verified    824625 non-null  bool
 2   reviewerID  824625 non-null  object
 3   reviewText  824625 non-null  object
 4   date        824625 non-null  object
 5   year        824625 non-null  int64
dtypes: bool(1), int64(2), object(3)
memory usage: 38.5+ MB

In [ ]:
#df3 = df3.drop(['verified', 'overall', 'reviewTime', 'reviewerID', 'date', 'year'], axis = 1)

In [ ]:
df3 = df3.drop(['reviewTime'], axis = 1)

In [ ]:
df3.head()

,overall,verified,reviewerID,reviewText,date,year
0,5,True,A1D4G1SNUZWQOT,Exactly what I needed.,10 20,2014
1,2,True,A3DDWDH9PX2YX2,"I agree with the other review, the opening is ...",09 28,2014
3,2,True,A2UH2QQ275NV45,too tiny an opening,08 24,2014
5,5,True,A29HLOUW0NS0EH,Exactly what I wanted.,07 19,2014
6,4,True,A7QS961ROI6E0,These little plastic backs work great. No mor...,05 31,2014

In [ ]:
df3.to_csv('/content/drive/MyDrive/data/amazon_fashion_after_preprocessing.csv', index = False)