In [1]:
import pandas as pd
import numpy as np

In [9]:
def preprocessing(i):
  print(i)
  df = pd.read_csv(f'/content/drive/MyDrive/data/TM/text_to_sentence_{i}.csv')

  df.head()
  df.info()

  df = df.drop_duplicates(subset='sentence')
  df.info()

  df['sentence'] = df['sentence'].apply(lambda x: x if len(x.split(' ')) > 3 else np.nan)
  df = df.dropna()
  df.info()

  df.to_csv(f'/content/drive/MyDrive/data/TM/text_to_sentence_{i}_2.csv', index = False)

In [10]:
preprocessing(1)

1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44611 entries, 0 to 44610
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  44611 non-null  int64
 1   sentence    44611 non-null  object
 2   index       44611 non-null  int64
 3   overall     44611 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 44611 entries, 0 to 44610
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  44611 non-null  int64
 1   sentence    44611 non-null  object
 2   index       44611 non-null  int64
 3   overall     44611 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 44611 entries, 0 to 44610
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  44611 non-null  int64
 1   sentence    44611 non-null  object
 2   index       44611 non-null  int64
 3   overall     44611 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.7+ MB

In [11]:
preprocessing(2)

2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56794 entries, 0 to 56793
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  56794 non-null  int64
 1   sentence    56794 non-null  object
 2   index       56794 non-null  int64
 3   overall     56794 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52838 entries, 0 to 56793
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  52838 non-null  int64
 1   sentence    52838 non-null  object
 2   index       52838 non-null  int64
 3   overall     52838 non-null  int64
dtypes: int64(3), object(1)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48731 entries, 0 to 56793
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  48731 non-null  int64
 1   sentence    48731 non-null  object
 2   index       48731 non-null  int64
 3   overall     48731 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.9+ MB

In [12]:
preprocessing(3)

3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55426 entries, 0 to 55425
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  55426 non-null  int64
 1   sentence    55426 non-null  object
 2   index       55426 non-null  int64
 3   overall     55426 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52639 entries, 0 to 55421
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  52639 non-null  int64
 1   sentence    52639 non-null  object
 2   index       52639 non-null  int64
 3   overall     52639 non-null  int64
dtypes: int64(3), object(1)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48793 entries, 0 to 55421
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  48793 non-null  int64
 1   sentence    48793 non-null  object
 2   index       48793 non-null  int64
 3   overall     48793 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.9+ MB

In [13]:
preprocessing(4)

4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57945 entries, 0 to 57944
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  57945 non-null  int64
 1   sentence    57945 non-null  object
 2   index       57945 non-null  int64
 3   overall     57945 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 53611 entries, 0 to 57944
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  53611 non-null  int64
 1   sentence    53611 non-null  object
 2   index       53611 non-null  int64
 3   overall     53611 non-null  int64
dtypes: int64(3), object(1)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48964 entries, 0 to 57944
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  48964 non-null  int64
 1   sentence    48964 non-null  object
 2   index       48964 non-null  int64
 3   overall     48964 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.9+ MB

In [14]:
preprocessing(5)

5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52939 entries, 0 to 52938
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  52939 non-null  int64
 1   sentence    52939 non-null  object
 2   index       52939 non-null  int64
 3   overall     52939 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 44938 entries, 0 to 52938
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  44938 non-null  int64
 1   sentence    44938 non-null  object
 2   index       44938 non-null  int64
 3   overall     44938 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 39003 entries, 0 to 52938
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   column_num  39003 non-null  int64
 1   sentence    39003 non-null  object
 2   index       39003 non-null  int64
 3   overall     39003 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB